extends layout

block content
  .contact
    .container
      .contact-heading
        h2.wow.fadeInDown.animated(data-wow-delay='.5s') Contact
        p.wow.fadeInUp.animated(data-wow-delay='.5s')
          | Vivamus efficitur scelerisque nulla nec lobortis. Nullam ornare metus vel dolor feugiat maximus.Aenean nec nunc et metus volutpat dapibus ac vitae ipsum. Pellentesque sed rhoncus nibh
      .map.wow.fadeInUp.animated(data-wow-delay='.5s')
        h4 How to find us :
        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3771907.975236311!2d-2.09480472072984!3d39.07355564363949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1436857347604', frameborder='0', style='border:0', allowfullscreen='')
      .address
        .col-md-4.address-grids.wow.fadeInLeft.animated(data-wow-delay='.5s')
          h4 Address :
          ul
            li
              p
                | Eiusmod Tempor inc
                br
                |                 St Dolore Place,
                br
                |                 Kingsport 56777
        .col-md-4.address-grids.wow.fadeInUp.animated(data-wow-delay='.5s')
          h4 Phone :
          p +2 123 456 789
          p +2 987 654 321
        .col-md-4.address-grids.wow.fadeInRight.animated(data-wow-delay='.5s')
          h4 Email :
          p
            a(href='mailto:example@email.com') mail@example.com
        .clearfix  
      .contact-infom.wow.fadeInUp.animated(data-wow-delay='.5s')
        h4 Miscellaneous Information:
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem Ipsum passages,
          | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.It was popularised in the 1960s with the release of Letraset
          | and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      .contact-form.wow.fadeInUp.animated(data-wow-delay='.5s')
        h4 Contact Form
        form
          input(type='text', placeholder='Name', required='')
          input(type='email', placeholder='Email', required='')
          input(type='text', placeholder='Telephone', required='')
          textarea(placeholder='Message', required='')
          button.btn1.btn-1.btn-1b Submit
