extends layout

block content
  .gallery
    .container
      .gallery-heading
        h2 Gallery
        p
          | Vivamus efficitur scelerisque nulla nec lobortis. Nullam ornare metus vel dolor feugiat maximus.Aenean nec nunc et metus volutpat dapibus ac vitae ipsum. Pellentesque sed rhoncus nibh
      .gallery-grids
        .col-md-4.gallery-grid.wow.fadeInUp.animated(data-wow-delay='.5s')
          .grid
            figure.effect-apollo
              a.example-image-link(href='./img/g1.jpg', data-lightbox='example-set', data-title='')
                img(src='./img/g1.jpg', alt='')
                figcaption
                  h3 Thailand
                  p Proin vitae luctus dui, sit amet ultricies leo
        .col-md-4.gallery-grid.wow.fadeInUp.animated(data-wow-delay='.5s')
          .grid
            figure.effect-apollo
              a.example-image-link(href='./img/g2.jpg', data-lightbox='example-set', data-title='')
                img(src='./img/g2.jpg', alt='')
                figcaption
                  h3 Hawaii
                  p Proin vitae luctus dui, sit amet ultricies leo
        .col-md-4.gallery-grid.wow.fadeInUp.animated(data-wow-delay='.5s')
          .grid
            figure.effect-apollo
              a.example-image-link(href='./img/g3.jpg', data-lightbox='example-set', data-title='')
                img(src='./img/g3.jpg', alt='')
                figcaption
                  h3 Canary Islands
                  p Proin vitae luctus dui, sit amet ultricies leo
        .col-md-4.gallery-grid.wow.fadeInUp.animated(data-wow-delay='.5s')
          .grid
            figure.effect-apollo
              a.example-image-link(href='./img/3.jpg', data-lightbox='example-set', data-title='')
                img(src='./img/3.jpg', alt='')
                figcaption
                  h3 Australia
                  p Proin vitae luctus dui, sit amet ultricies leo
        .col-md-4.gallery-grid.wow.fadeInUp.animated(data-wow-delay='.5s')
          .grid
            figure.effect-apollo
              a.example-image-link(href='./img/7.jpg', data-lightbox='example-set', data-title='')
                img(src='./img/7.jpg', alt='')
                figcaption
                  h3 Maldives
                  p Proin vitae luctus dui, sit amet ultricies leo
        .col-md-4.gallery-grid.wow.fadeInUp.animated(data-wow-delay='.5s')
          .grid
            figure.effect-apollo
              a.example-image-link(href='./img/8.jpg', data-lightbox='example-set', data-title='')
                img(src='./img/8.jpg', alt='')
                figcaption
                  h3 Philippines
                  p Proin vitae luctus dui, sit amet ultricies leo
        .col-md-4.gallery-grid.wow.fadeInUp.animated(data-wow-delay='.5s')
          .grid
            figure.effect-apollo
              a.example-image-link(href='./img/g1.jpg', data-lightbox='example-set', data-title='')
                img(src='./img/g1.jpg', alt='')
                figcaption
                  h3 Thailand
                  p Proin vitae luctus dui, sit amet ultricies leo
        .col-md-4.gallery-grid.wow.fadeInUp.animated(data-wow-delay='.5s')
          .grid
            figure.effect-apollo
              a.example-image-link(href='./img/g2.jpg', data-lightbox='example-set', data-title='')
                img(src='./img/g2.jpg', alt='')
                figcaption
                  h3 Hawaii
                  p Proin vitae luctus dui, sit amet ultricies leo
        .col-md-4.gallery-grid.wow.fadeInUp.animated(data-wow-delay='.5s')
          .grid
            figure.effect-apollo
              a.example-image-link(href='./img/g3.jpg', data-lightbox='example-set', data-title='')
                img(src='./img/g3.jpg', alt='')
                figcaption
                  h3 Canary Islands
                  p Proin vitae luctus dui, sit amet ultricies leo
        .clearfix  
        