extends layout

block content
  .blog
    .container
      .col-md-8.blog-top-left-grid
        .left-blog.left-single
          .blog-left
            .single-left-left.wow.fadeInUp.animated(data-wow-delay='.5s')
              p
                | Posted By 
                a(href='#') Admin
                |     on June 2, 2016    
                a(href='#') Comments (10)
              img(src='./img/8.jpg', alt='')
            .blog-left-bottom.wow.fadeInUp.animated(data-wow-delay='.5s')
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin
                | dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus
                | fringilla hendrerit lectus nec vehicula. ultrices tellus eget ipsum ornare consectetur adipiscing elit.Sed blandit .
            .blog-left-bottom.left-bottom.wow.fadeInUp.animated(data-wow-delay='.5s')
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin
                | dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus
                | fringilla hendrerit lectus nec vehicula. ultrices tellus eget ipsum ornare consectetur adipiscing elit.Sed blandit .
            .blog-left-bottom.left-bottom.wow.fadeInUp.animated(data-wow-delay='.5s')
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin
                | dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus
                | fringilla hendrerit lectus nec vehicula. ultrices tellus eget ipsum ornare consectetur adipiscing elit.Sed blandit .
          .response.wow.fadeInUp.animated(data-wow-delay='.5s')
            h3 Responses
            .media.response-info
              .media-left.response-text-left
                a(href='#')
                  img.media-object(src='./img/t1.jpg', alt='')
                h5
                  a(href='#') Admin
              .media-body.response-text-right
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                  | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                ul
                  li June 21, 2016
                  li
                    a(href='/single') Reply
                .media.response-info
                  .media-left.response-text-left
                    a(href='#')
                      img.media-object(src='./img/t2.jpg', alt='')
                    h5
                      a(href='#') Admin
                  .media-body.response-text-right
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    ul
                      li June 21, 2016
                      li
                        a(href='/single') Reply
                  .clearfix  
              .clearfix  
            .media.response-info
              .media-left.response-text-left
                a(href='#')
                  img.media-object(src='./img/t3.jpg', alt='')
                h5
                  a(href='#') Admin
              .media-body.response-text-right
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                  | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                ul
                  li June 21, 2016
                  li
                    a(href='single.html') Reply
              .clearfix  
          .opinion
            h2.wow.fadeInUp.animated(data-wow-delay='.5s') Leave Your Comment
            form
              input.wow.fadeInLeft.animated(data-wow-delay='.5s', type='text', placeholder='Name', required='')
              input.wow.fadeInRight.animated(data-wow-delay='.5s', type='text', placeholder='Email', required='')
              textarea.wow.fadeInLeft.animated(data-wow-delay='.5s', placeholder='Message', required='')
              input.wow.fadeInRight.animated(data-wow-delay='.5s', type='submit', value='SEND')
      .col-md-4.blog-top-right-grid
        .Categories.wow.fadeInUp.animated(data-wow-delay='.5s')
          h3 Categories
          ul
            li
              a(href='#') Phasellus sem leo, interdum quis risus
            li
              a(href='#') Nullam egestas nisi id malesuada aliquet 
            li
              a(href='#')  Donec condimentum purus urna venenatis
            li
              a(href='#') Ut congue, nisl id tincidunt lobor mollis
            li
              a(href='#') Cum sociis natoque penatibus et magnis
            li
              a(href='#') Suspendisse nec magna id ex pretium
        .Categories.wow.fadeInUp.animated(data-wow-delay='.5s')
          h3 Archive
          ul.marked-list.offs1
            li
              a(href='#') May 2016 (7)
            li
              a(href='#') April 2016 (11)
            li
              a(href='#') March 2016 (12)
            li
              a(href='#') February 2016 (14)
            li
              a(href='#') January 2016 (10)
            li
              a(href='#') December 2016 (12)
            li
              a(href='#') November 2016 (8)
            li
              a(href='#') October 2016 (7)
            li
              a(href='#') September 2016 (8)
            li
              a(href='#') August 2016 (6)
      .clearfix